{% extends "layouts/main.html" %}

{% block content %}
    <h1>Welcome</h1>

    <h2 class="text-left">Important!</h2>
    This is a Beta version, we are currently gathering requirements and testing those that have already been implemented.
    Design is also up for improvement.

    <h2 class="text-left">Classes Diagram</h2>
    (Following is an example)
    <iframe frameborder="0" style="width:100%;height:410px;" src="https://viewer.diagrams.net/?highlight=0000FF&layers=1&nav=1&title=Class%20Diagram#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1w--bdmrsLdnDtcSPcdqVdvP5FTXm3qLq%26export%3Ddownload"></iframe>
{% endblock %}
